/* Basic page styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background setup */
body {
    font-family: 'Georgia', serif;
    background-image: url('../images/indexPage/background.jpg');
    background-size: cover;
    color: #f4f4f4;
    text-align: center;
    height: 100vh;
}

/* Title styling */
h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    margin-top: 20%;
    margin-bottom: 5%;
}

/* Button styling for "Continue" */
.continue-btn {
    margin-top: 120px;
    padding: 45px 60px;
    font-size: 2rem;
    color: #fff;
    background-color: #333;
    border: 2px solid #444;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Georgia', serif;
}

/* Button hover effects */
.continue-btn:hover {
    background-color: #555;
}

/* Button active state */
.continue-btn:active {
    background-color: #222;
}
